.work {
  margin-bottom: 140px;

  .title {
    text-align: center;
    margin-bottom: 60px;
  }

  &-items {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(auto-fill, 360px);
    justify-content: center;
  }

  &-item {
    transition: 0.3s all;
    text-align: center;
    padding: 23px;
    background-color: $white;
    border: 1px solid rgba($dark, 0.1);
    border-radius: 10px;

    &:hover {
      box-shadow: 0px 6px 30px rgba($dark, 0.03);
      border-color: #f8f8f8;

      .work-item__title {
        opacity: 1;
      }
    }

    &__icon {
      margin: 0 auto 20px;
      width: 100px;
      height: 100px;
      background-color: #f8f8f8;
      border-radius: 50%;
      display: grid;
      justify-content: center;
      align-items: center;
    }

    &__title {
      font-family: Gelasio;
      font-weight: 500;
      font-size: 24px;
      color: $main_color;
      opacity: 0.7;
      transition: 0.3s all;
      margin-bottom: 15px;
    }
  }
}
